@import 'partials/variables';

/* Override theme styles here */
$left-menu-width: 20vw;
$right-post-width: 80vw;
$goldest: #7B6B47;
$golder: #A08059;
$gold: #E5D78B;
$gold-grey: #DFD3C6;
$gold-light: #FFFBF5;
// $gold-line: #bba634;

$alchemy-insider: #D5C4B0;
$alchemy-outer: #D0B9A2;

// $link-raw: #180EA4;
// $link-visted: #6023A2;
// $link-raw: #0000ff;
$link-raw: #1b36e8;
$link-visted: #800080;

//
//
//
// 1. 全局覆盖
//
//
//

a {
  text-decoration: none; /* 默认隐藏下划线 */
  &:hover {
    text-decoration: underline; /* 悬停时显示下划线 */
  }
}

body {
  background: $golder;
  & ::selection {
    background-color: rgba($color: $gold, $alpha: 0.6);
  }
}


//
//
//
// 2. 菜单栏
//
//
//

// .avatar {
//     width: 5rem;
//     height: 5rem;
//     margin-top: 1rem;
//     transition: transform ease-out .5s
// }

.signature {
  height: 7rem;
}

.subtitle {
  color: $black-ter;
  font-style: italic;
  margin: initial;
}

.site-menu {
  & .menu-item {
    padding: .4rem 0;
  }
}

.social-menu {
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  @media screen and (max-width: $tablet) {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem auto;
    max-height: 125px;
    overflow-y: hidden;
    transition: all $easing $speed;
  }
}


.site-header {
  // & ::selection {
  //   background-color: rgba($color: $gold, $alpha: 0.5);
  // }
  font-family: $family-sans-serif;
  width: $left-menu-width;
  text-align: left;
  padding: 1rem 2rem;
  & a {
    opacity: 1;
    color: $text-strong;
    font-weight: $weight-bold;
  }
  & > .title > a {
    font-weight: $weight-normal;
    text-decoration: none;
  }
}

//
//
//
// 3. 主体内容
//
//
//

.post-entry .post-title {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.post-entry {
  & + .post-entry {
    border-color: $golder;
  }

  & .post-meta {
    text-transform: none;
  }
}

.post-title {
  & a {
    color: $link-raw;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $link-visted; 
    }
  }
}


.post-detail {
  & .post-header {
    margin-bottom: 0;

    & .post-title {
      font-size: 1.75rem;
    }

    & .post-meta {
      text-transform: none;
    }
  }
}

.post-content {
  & a {
    color: $link-raw;
    &:hover {
      border-bottom: none;
      text-decoration: underline;
    }
    &:visited {
      color: $link-visted; 
    }
    border-bottom: none;
  }
}

.post-footer {
  & a {
    color: $text-strong;
    &:hover {
      color: $text-strong;
      text-decoration: underline;
    }
  }
}

.main {
  background: radial-gradient(circle at center, $gold-light, $gold-grey);
  // & ::selection {
  //   background-color: $gold;
  // }
  max-width: none;
  margin-left: $left-menu-width;
  width: $right-post-width;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left-color: $goldest;

  & > * {
    max-width: 44rem;
    width: 100%;
  }
}

.archive-entry {
  & a {
    color: $link-raw;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $link-visted; 
    }
  }
}

@media(prefers-color-scheme: dark) {
    body {
        background-color:#202020;
        color: #cdcdcd
    }

    a {
        color: #e1e1e1
    }

    .site-header a {
        color: #e1e1e1
    }

    .main {
        background-color: #202020
    }

    .site-footer {
        background-color: #202020
    }
}

@media print, screen and (max-width: $tablet) {
  .site-header {
    width: 100vw;
  }

  .main {
    width: 100vw;
    margin-left: 0;
  }

  .signature {
    height: 5rem;
  }
}

.not-found {
  & .error-text {
    color: $black-ter;
  }
  & .error-link {
    & a {
      color: $link-raw;
    }
  } 
}

// images & covers
.post-entry .post-cover {
    position: static;
    width: 100%;
    height: calc((85vw - 4rem)/3);
    max-height: calc(44rem/3);
    border: 2px solid $goldest;
}

@media screen and (max-width: $tablet) {
    .post-entry .post-cover {
        height:calc(100vw/3);
        margin: 0
    }
} 